/* button {
  padding: 20px;
  border-radius: 7px;
  border: 1px solid #6de0fd;
  cursor: pointer;
  background-color: #6de0fd;
  margin: 0 10px 10px 10px;
  font-size: large;
  font-weight: 800;
} */


/* .counter-output {
  margin-bottom: 15px;
} */

/* .counter-buttons,
.counter-output {
  border: 1px solid #6de0fd;
  border-radius: 7px;
  padding: 10px;
} */

/* .output-style {
  margin: 20px auto;
  background-color: #6de0fd;
  width: 90%;
  height: 40%;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
} */

/* .label {
  color: #6de0fd;
  font-size: 25px;
  font-weight: 600;
} */

/* .inputLabel {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 15px;
} */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #2e323c;
  color: #2e323c;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
  appearance: none;
  -moz-appearance: textfield;
}

.no-active {
  opacity: 0.2;
  cursor: none;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .error {
  border: 1px solid #ff3b1f;
  background-color: #ff3b1f;
} */