/* button {
  padding: 20px;
  border-radius: 7px;
  border: 1px solid #6de0fd;
  cursor: pointer;
  background-color: #6de0fd;
  margin: 0 10px 10px 10px;
  font-size: large;
  font-weight: 800;
} */


/* .counter-output {
  margin-bottom: 15px;
} */

/* .counter-buttons,
.counter-output {
  border: 1px solid #6de0fd;
  border-radius: 7px;
  padding: 10px;
} */

/* .output-style {
  margin: 20px auto;
  background-color: #6de0fd;
  width: 90%;
  height: 40%;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
} */

/* .label {
  color: #6de0fd;
  font-size: 25px;
  font-weight: 600;
} */

/* .inputLabel {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 15px;
} */

.no-active {
  opacity: 0.2;
}

/* .red {
  color: red
} */